:root {
  --navbar-container-background-color: var(--color-scale-gray-5);
  --navbar-container-border-color: var(--color-scale-gray-4);
  --website-name-color: var(--color-scale-gray-0);
  --website-name-color-on-hover-state: var(--primary-color);
  --nav-item-color: var(--color-scale-gray-0);
  --nav-item-background-color-on-hover-state: var(--color-scale-gray-4);
}
.navbar-container {
  background-color: var(--navbar-container-background-color);
  border-bottom: var(--container-border-width) solid var(--navbar-container-border-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  & .website-logo {
    height: 2.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
  }

  & .website-name {
    color: var(--website-name-color);
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 2rem 0 1rem;
    transition: var(--transition);
    transition-property: color;
    cursor: pointer;

    &:hover {
      color: var(--website-name-color-on-hover-state);
    }
  }

  & .nav-item {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    color: var(--nav-item-color);
    transition: var(--transition);
    transition-property: color, background-color;

    &:hover {
      background-color: var(--nav-item-background-color-on-hover-state);
    }
  }
}
